{{define "navbar"}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <div class="container">
       <a href="#" class="navbar-brand">Kongebra</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar" aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
       </button>

       <div class="collapse navbar-collapse" id="myNavbar">
           <ul class="navbar-nav mr-auto">
               <li class="nav-item">
                   <a href="#" class="nav-link">Link</a>
               </li>
               <li class="nav-item">
                   <a href="#" class="nav-link">Link</a>
               </li>
               <li class="nav-item">
                   <a href="#" class="nav-link">Link</a>
               </li>
           </ul>
       </div>
   </div>
</nav>
{{end}}